<div id="container">
  <app-comment-item
    (mainCommentIdHandler)="removeComment($event)"
    (onReplyHanlder)="handleMainReply($event)"
    (replyCommentIdHandler)="handleReplyForReply($event)"
    (onReplayIdHandler)="handleReplyIdForDelete($event)"
    *ngFor="let item of comments"
    [commentItem]="item"
    [current_user]="currentUser"
  >
  </app-comment-item>

  <app-current-item
    [current_user]="currentUser"
    (onMainComment)="handleMainComment($event)"
  ></app-current-item>
</div>
